<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452010596474-lhf8t271an465pm9a3sqk5is30ucuu8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452010596474-lhf8t271an465pm9a3sqk5is30ucuu8m</string>
	<key>API_KEY</key>
	<string>AIzaSyCZbetxj4QCwhb89NgcxPDtyPHI35036Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>452010596474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeboxing</string>
	<key>PROJECT_ID</key>
	<string>timebox-bc28a</string>
	<key>STORAGE_BUCKET</key>
	<string>timebox-bc28a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452010596474:ios:1f5c5193512b00ffd643c3</string>
</dict>
</plist>