<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYEhht3rnYpR_H-g0Ifr6lbSTTygsQPtU</string>
	<key>GCM_SENDER_ID</key>
	<string>82112618151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeboxing</string>
	<key>PROJECT_ID</key>
	<string>timeboxing-67803</string>
	<key>STORAGE_BUCKET</key>
	<string>timeboxing-67803.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82112618151:ios:ecaf9e979a6c7ac0928582</string>
</dict>
</plist>